

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #55ffbd;
  /* background: url('screen.png'); */
  /* opacity: 0.2; */
  background-size: 1250px;
  background-repeat: no-repeat;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
  user-select: none;
  width: 100vw;
  height: 100vh;
}

.landing { width: 100%; height: 100%; max-width: 1000px; margin: 0 auto; position: relative;}

.landing .info-box {position: absolute; top: 2rem; right: 2rem;z-index: 10}
.info-button span {border: 2px solid black; border-radius: 50%; width: 1.5rem; height: 1.5rem;display: block;text-align: center;line-height: 1.6; font-weight: 600; cursor: pointer;}
.info-box .box {width: 20rem; position: absolute; background: white; display: none;border-radius: 7px;padding: 1rem; border: 1px solid black;font-weight: 500}
.info-box .box.open {display: block;top: calc(100% + 1rem);right: 0;}
#picker {width: 100%; display: flex; justify-content: center;margin-top: 1rem}

.hello, .about, .links, .works-link {box-sizing: border-box; padding-left: 20px; opacity: 0}

.hello { height: 35%; position: relative; display: flex; align-items: flex-end;}

.hello > h1 { font-size: 15vh; font-weight: 700; margin: 0 0 -2vh -1vh;z-index: 1;}
.hello > h1::before {content: attr(data-text); display: block; position: absolute; left: 17px; bottom: -14px; width: 0; color: white;overflow: hidden; transition: all 0.5s;opacity: 0}

.hello > h1:hover::before{ width: 100%; opacity: 1;}

#photo { position: absolute; height: 80%; border-radius: 50%; bottom: 0; left: 40vh;}

.about { height: 35%;padding-top: 40px; width: 90%;}

.about > h2 {font-size: 3.5vh; font-weight: 700; line-height: 1.2;}

.links { height: 20%; line-height: 1.5}

.links > span { margin-right: 40px; font-size: 3vh; font-weight: 700; text-transform: uppercase;display: inline-block; position: relative;}

.links > span > a {color: inherit; cursor: pointer;}
.links > span > a::after {display: block; content: ''; height: 4px; position: absolute; width: 100%; transition: all 0.25s; background: white;left: 0; transform: scaleX(0)}
.links > span > a:hover::after { transform: scaleX(1); }

.links > span > a:hover, .project-links > a:hover {color: white;}

.works-link { height: 10%;font-size: 3vh; font-weight: 700; text-transform: uppercase;}

.works-link > a {color: inherit; cursor: pointer; position: relative;}
.works-link > a::after {display: block; content: ''; height: 4px; position: absolute; width: 100%; transition: all 0.25s; background: white;left: 0; transform: scaleX(0)}

.works-link > a:hover {color: white;}
.works-link > a:hover::after {transform: scaleX(1);}


@media screen and (max-width: 900px){
  .hello, .about, .links, .works-link {}
  .about {width: 100%;padding-right: 20px;height: auto;padding-top: 40px;}
  .about > h2 {font-size: 4.4vw;}
  .links {padding-top: 40px;}
}

@media screen and (max-width: 770px){
  .links {display: flex; flex-wrap: wrap; justify-content: center;}
  .works-link {display: flex; flex-direction: column; justify-content: center; align-items: center;height: auto;padding:30px 0 30px 0;}
}

@media screen and (max-width: 650px) {
  .hello > h2 {font-size: 18.7vw;}
  #photo {left: unset; right: 16%;}
  .links {display: flex; flex-direction: column; justify-content: center; align-items: center;height: auto;padding-left:0; }
  .links > span {margin-right: 0; padding: 10px;}
  /*.links > span:not(last-child) {margin-bottom: 20px;}*/
}

@media screen and (max-width: 500px) {
  .hello > h1 {font-size: 24.4vw;}
  .about > h2 {font-size: 22px;}
  .links, .works-link {display: flex; flex-direction: column; justify-content: center; align-items: center;height: auto;padding-left:0; }
  .links > span {width: 100%; text-align: center; border-top: 2px solid black; margin-bottom: 0px;}
  .links > span:last-child {border-bottom: 2px solid black;}

}

.work {
  margin: 197px 0 400px 80px;
  padding: 0 0 0 45px;
}

.work-name {
  font-size: 85px;
  font-weight: 600;
  margin-bottom: 30px;
}

.work-name {
  width: fit-content;
  cursor: default;
}


.work-name > h3 {
  cursor: pointer;
  transition: all 0.25s;
}

.work-name > h3:hover {
  color: white;
}

.work-description {
  margin-bottom: 90px;
  display: none;
}

.work-description > h4 {
  font-size: 45px;
  font-weight: 500;
  margin: 20px 0 0 0;
  max-width: 800px;
  line-height: 1.3;
  margin-bottom: 30px;
  cursor: default;
}

.works-body {
  display: flex;
  flex-direction: row;
}

.back {
  background: black;
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;

  text-decoration: none;
  color: #55ffbd;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.25s;
}

.back:hover {
  color: white;
}
.backname {
  writing-mode: vertical-lr;

  transform: rotateZ(180deg);
}
.arrow {
  transform: rotate(0deg);
  font-size: 17px;
}

.project1, .project2, .project3, .project4, .project5, .project6 {
  opacity: 0;
}

.project-links {
  font-size: 20px;
  margin-top: -20px;
  font-weight: 600;
  opacity: 0;
  transition: 1s;
}

.showLinks {
  opacity: 1;
}

.project-links > a {
  color: inherit;
  transition: all 0.25s;
}

.project-links > a:nth-child(1n+2){
  margin-left: 20px;
}

h3#pr1 {
  margin-left: -5px;
}



/* ANIMATION */
@keyframes grow {
  0% { width: 0px;
        color: black }
  100% { width: 80px; }
}

@-webkit-keyframes grow {
  0% { width: 0px;
      color: black}
  100% { width: 80px; }
}



@keyframes gradient {
  0% { background-color: #55ffbd; }
  50% { background-color: #55fff9; }
  100% { background-color:  #55ffbd; }
}

@-webkit-keyframes gradient {
  0% { background-color: #55ffbd; }
  50% { background-color: #55fff9; }
  100% { background-color: #55ffbd; }
}
@keyframes font-gradient {
  0% { color: #55ffbd; }
  50% { color: #55fff9; }
  100% { color:  #55ffbd; }
}

@-webkit-keyframes font-gradient {
  0% { color: #55ffbd; }
  50% { color: #55fff9; }
  100% { color: #55ffbd; }
}

@keyframes movemove {
  0% { transform: translate(0, 0px); }
  100% { transform: translate(0, -20px); }
}
@keyframes leftmove {
  0% { transform: translate(-80px, 0px); }
  100% { transform: translate(0px, 0px); }
}

@-webkit-keyframes transition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

body {
  transition: all easy-in-out;
  /* animation: gradient 10s infinite; */
  /* -webkit-animation: gradient 10s infinite; */
}

.back {
  transition: all easy-in-out;
  animation: /* font-gradient 10s infinite, */
              leftmove 0.7s;
  -webkit-animation: /* font-gradient 10s infinite */
                      leftmove 0.7s;
}

#photo {
  animation: transition 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hello {
  animation: movemove 1.2s,
            transition 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.about {
  animation: movemove 1.2s,
            transition 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s, 0.3s;
}
.links {
  animation: movemove 1.2s,
            transition 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.6s, 0.6s;
}
.works-link {
  animation: movemove 1.2s,
            transition 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s, 0.9s;
}

.project1 {
  animation: movemove 1.2s,
            transition 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.project2 {
  animation: movemove 1.2s,
            transition 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s, 0.3s;
}
.project3 {
  animation: movemove 1.2s,
            transition 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.6s, 0.6s;
}

.project4 {
  animation: movemove 1.2s,
            transition 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.9s, 0.9s;
}
.project5 {
  animation: movemove 1.2s,
            transition 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1.2s, 1.2s;
}
.project6 {
  animation: movemove 1.5s,
            transition 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1.5s, 1.5s;
}
